
.banner {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    padding-right: 1920px;
    padding-bottom: 10px;
    padding-top: 15px;  
    width: 180px;
    background-size: 320px;
}

.titolo1 {
    font-size: 30px;
    height: auto;
    margin-bottom: 1px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
  



* {
    margin-top: 0px;
    margin-left: 0px;
}
.sottotitolo{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.nomeblu {
    color:#20a9e5;
}

.grigio{
    color:#a4a4a4;
}

.data-sottotitolo {
 font-size: 10px;   
margin-top: 0px;
}

.titolo-e-sottotitolo {
    margin-left: 5px;
}

.descrizioni-foto {
    font-size: 10px;
}

.paragrafi-foto {
    margin: 0px;
}
.primo-lorem {
    margin-top: 15px;
}